In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../datasets/311-service-requests.csv")

/home/akshay/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,26589651,10/31/2013 02:08:41 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,11432,90-03 169 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.708275,-73.791604,"(40.70827532593202, -73.79160395779721)"
1,26593698,10/31/2013 02:01:04 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,11378,58 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.721041,-73.909453,"(40.721040535628305, -73.90945306791765)"
2,26594139,10/31/2013 02:00:24 AM,10/31/2013 02:40:32 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10032,4060 BROADWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.843330,-73.939144,"(40.84332975466513, -73.93914371913482)"
3,26595721,10/31/2013 01:56:23 AM,10/31/2013 02:21:48 AM,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,Street/Sidewalk,10023,WEST 72 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.778009,-73.980213,"(40.7780087446372, -73.98021349023975)"
4,26590930,10/31/2013 01:53:44 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,Vacant Lot,10027,WEST 124 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.807691,-73.947387,"(40.80769092704951, -73.94738703491433)"

In [6]:
df.shape

(111069, 52)

In [7]:
df.columns

Index([u'Unique Key', u'Created Date', u'Closed Date', u'Agency',
       u'Agency Name', u'Complaint Type', u'Descriptor', u'Location Type',
       u'Incident Zip', u'Incident Address', u'Street Name', u'Cross Street 1',
       u'Cross Street 2', u'Intersection Street 1', u'Intersection Street 2',
       u'Address Type', u'City', u'Landmark', u'Facility Type', u'Status',
       u'Due Date', u'Resolution Action Updated Date', u'Community Board',
       u'Borough', u'X Coordinate (State Plane)',
       u'Y Coordinate (State Plane)', u'Park Facility Name', u'Park Borough',
       u'School Name', u'School Number', u'School Region', u'School Code',
       u'School Phone Number', u'School Address', u'School City',
       u'School State', u'School Zip', u'School Not Found',
       u'School or Citywide Complaint', u'Vehicle Type',
       u'Taxi Company Borough', u'Taxi Pick Up Location',
       u'Bridge Highway Name', u'Bridge Highway Direction', u'Road Ramp',
       u'Bridge Highway Segment', u'Garage Lot Name', u'Ferry Direction',
       u'Ferry Terminal Name', u'Latitude', u'Longitude', u'Location'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111069 entries, 0 to 111068
Data columns (total 52 columns):
Unique Key                        111069 non-null int64
Created Date                      111069 non-null object
Closed Date                       60270 non-null object
Agency                            111069 non-null object
Agency Name                       111069 non-null object
Complaint Type                    111069 non-null object
Descriptor                        110613 non-null object
Location Type                     79022 non-null object
Incident Zip                      98807 non-null object
Incident Address                  84441 non-null object
Street Name                       84432 non-null object
Cross Street 1                    84728 non-null object
Cross Street 2                    84005 non-null object
Intersection Street 1             19364 non-null object
Intersection Street 2             19366 non-null object
Address Type                      102247 non-null object
City                              98854 non-null object
Landmark                          95 non-null object
Facility Type                     19104 non-null object
Status                            111069 non-null object
Due Date                          39239 non-null object
Resolution Action Updated Date    96507 non-null object
Community Board                   111069 non-null object
Borough                           111069 non-null object
X Coordinate (State Plane)        98143 non-null float64
Y Coordinate (State Plane)        98143 non-null float64
Park Facility Name                111069 non-null object
Park Borough                      111069 non-null object
School Name                       111069 non-null object
School Number                     111048 non-null object
School Region                     110524 non-null object
School Code                       110524 non-null object
School Phone Number               111069 non-null object
School Address                    111069 non-null object
School City                       111069 non-null object
School State                      111069 non-null object
School Zip                        111069 non-null object
School Not Found                  38984 non-null object
School or Citywide Complaint      0 non-null float64
Vehicle Type                      99 non-null object
Taxi Company Borough              117 non-null object
Taxi Pick Up Location             1059 non-null object
Bridge Highway Name               185 non-null object
Bridge Highway Direction          185 non-null object
Road Ramp                         180 non-null object
Bridge Highway Segment            219 non-null object
Garage Lot Name                   49 non-null object
Ferry Direction                   24 non-null object
Ferry Terminal Name               70 non-null object
Latitude                          98143 non-null float64
Longitude                         98143 non-null float64
Location                          98143 non-null object
dtypes: float64(5), int64(1), object(46)
memory usage: 44.1+ MB

In [8]:
df.describe()

,Unique Key,X Coordinate (State Plane),Y Coordinate (State Plane),School or Citywide Complaint,Latitude,Longitude
count,1.110690e+05,9.814300e+04,98143.000000,0.0,98143.000000,98143.000000
mean,2.651565e+07,1.004544e+06,205553.153287,NaN,40.730821,-73.926738
std,4.694558e+04,2.206087e+04,31334.677543,NaN,0.086006,0.079563
min,2.642588e+07,9.134950e+05,121152.000000,NaN,40.498949,-74.254437
25%,2.647433e+07,9.920490e+05,182506.000000,NaN,40.667529,-73.971882
50%,2.651472e+07,1.003205e+06,203251.000000,NaN,40.724521,-73.931580
75%,2.655684e+07,1.016823e+06,233366.000000,NaN,40.807183,-73.882430
max,2.659613e+07,1.067024e+06,271485.000000,NaN,40.911792,-73.701278

In [16]:
df["Created Date"]

0         10/31/2013 02:08:41 AM
1         10/31/2013 02:01:04 AM
2         10/31/2013 02:00:24 AM
3         10/31/2013 01:56:23 AM
4         10/31/2013 01:53:44 AM
5         10/31/2013 01:46:52 AM
6         10/31/2013 01:46:40 AM
7         10/31/2013 01:44:19 AM
8         10/31/2013 01:44:14 AM
9         10/31/2013 01:34:41 AM
10        10/31/2013 01:25:12 AM
11        10/31/2013 01:24:14 AM
12        10/31/2013 01:20:57 AM
13        10/31/2013 01:20:13 AM
14        10/31/2013 01:19:54 AM
15        10/31/2013 01:14:02 AM
16        10/31/2013 12:54:03 AM
17        10/31/2013 12:52:46 AM
18        10/31/2013 12:51:00 AM
19        10/31/2013 12:46:27 AM
20        10/31/2013 12:43:47 AM
21        10/31/2013 12:41:17 AM
22        10/31/2013 12:39:55 AM
23        10/31/2013 12:38:00 AM
24        10/31/2013 12:37:16 AM
25        10/31/2013 12:35:18 AM
26        10/31/2013 12:33:00 AM
27        10/31/2013 12:32:44 AM
28        10/31/2013 12:32:08 AM
29        10/31/2013 12:32:00 AM
                   ...
111039    10/04/2013 12:17:03 AM
111040    10/04/2013 12:16:22 AM
111041    10/04/2013 12:16:00 AM
111042    10/04/2013 12:15:52 AM
111043    10/04/2013 12:15:46 AM
111044    10/04/2013 12:14:09 AM
111045    10/04/2013 12:14:00 AM
111046    10/04/2013 12:14:00 AM
111047    10/04/2013 12:13:08 AM
111048    10/04/2013 12:12:07 AM
111049    10/04/2013 12:12:07 AM
111050    10/04/2013 12:11:00 AM
111051    10/04/2013 12:08:15 AM
111052    10/04/2013 12:08:00 AM
111053    10/04/2013 12:08:00 AM
111054    10/04/2013 12:06:39 AM
111055    10/04/2013 12:06:28 AM
111056    10/04/2013 12:06:26 AM
111057    10/04/2013 12:06:00 AM
111058    10/04/2013 12:05:12 AM
111059    10/04/2013 12:04:52 AM
111060    10/04/2013 12:04:00 AM
111061    10/04/2013 12:03:00 AM
111062    10/04/2013 12:03:00 AM
111063    10/04/2013 12:02:00 AM
111064    10/04/2013 12:01:13 AM
111065    10/04/2013 12:01:05 AM
111066    10/04/2013 12:00:45 AM
111067    10/04/2013 12:00:28 AM
111068    10/04/2013 12:00:10 AM
Name: Created Date, Length: 111069, dtype: object

In [19]:
df["Agency"].unique()

array(['NYPD', 'DOHMH', 'DOT', 'TLC', 'HRA', 'DSNY', 'HPD', 'DCA', 'DEP',
       'EDC', 'DHS', 'DPR', 'DOF', 'CHALL', 'DOE', 'DOB', 'FDNY', 'DOITT',
       '3-1-1', 'DFTA', 'COIB', 'OEM', 'OATH', 'OPS', 'OMB', 'DOP'],
      dtype=object)

In [20]:
df["Agency"].value_counts()

HPD      39067
DOT      17707
NYPD     15295
DEP       8897
DSNY      8385
DOF       6370
DPR       4614
DOHMH     3237
DOB       3014
TLC       1491
DCA       1405
FDNY       631
HRA        392
DHS        101
EDC         99
DOE         97
3-1-1       92
CHALL       77
DOITT       31
OEM         29
DFTA        22
OPS          8
OATH         4
DOP          2
OMB          1
COIB         1
Name: Agency, dtype: int64

In [22]:
df["Complaint Type"].value_counts()

HEATING                                 14200
GENERAL CONSTRUCTION                     7471
Street Light Condition                   7117
DOF Literature Request                   5797
PLUMBING                                 5373
PAINT - PLASTER                          5149
Blocked Driveway                         4590
NONCONST                                 3998
Street Condition                         3473
Illegal Parking                          3343
Noise                                    3321
Traffic Signal Condition                 3145
Dirty Conditions                         2653
Water System                             2636
Noise - Commercial                       2578
ELECTRIC                                 2350
Broken Muni Meter                        2070
Noise - Street/Sidewalk                  1928
Sanitation Condition                     1824
Rodent                                   1632
Sewer                                    1627
Consumer Complaint                       1227
Taxi Complaint                           1227
Damaged Tree                             1180
Overgrown Tree/Branches                  1083
Missed Collection (All Materials)         973
Graffiti                                  973
Building/Use                              942
Root/Sewer/Sidewalk Condition             836
Derelict Vehicle                          803
                                        ...
Internal Code                               5
Posting Advertisement                       5
Fire Alarm - Modification                   5
Miscellaneous Categories                    5
Poison Ivy                                  5
Illegal Animal Sold                         4
Transportation Provider Complaint           4
Special Natural Area District (SNAD)        4
Ferry Complaint                             4
Adopt-A-Basket                              3
Invitation                                  3
Fire Alarm - Replacement                    3
Illegal Fireworks                           3
Misc. Comments                              2
Public Assembly                             2
Opinion for the Mayor                       2
Window Guard                                2
DFTA Literature Request                     2
Legal Services Provider Complaint           2
Open Flame Permit                           1
Snow                                        1
Municipal Parking Facility                  1
X-Ray Machine/Equipment                     1
Stalled Sites                               1
DHS Income Savings Requirement              1
Tunnel Condition                            1
Highway Sign - Damaged                      1
Ferry Permit                                1
Trans Fat                                   1
DWD                                         1
Name: Complaint Type, Length: 165, dtype: int64

In [25]:
df["Complaint Type"] == "HEATING"

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
111039    False
111040    False
111041    False
111042    False
111043    False
111044    False
111045    False
111046    False
111047    False
111048    False
111049    False
111050    False
111051    False
111052    False
111053    False
111054    False
111055    False
111056    False
111057    False
111058    False
111059    False
111060    False
111061    False
111062    False
111063    False
111064    False
111065    False
111066    False
111067    False
111068    False
Name: Complaint Type, Length: 111069, dtype: bool

In [26]:
slice_df = df[["Complaint Type", "Descriptor"]][df["Complaint Type"] == "HEATING"]

In [27]:
slice_df.head()

     Complaint Type Descriptor
59          HEATING       HEAT
61          HEATING       HEAT
62          HEATING       HEAT
64          HEATING       HEAT
3323        HEATING       HEAT

In [28]:
slice_df["Descriptor"].value_counts()

HEAT          14126
HEAT-PLANT       74
Name: Descriptor, dtype: int64

In [29]:
new_slice = df[["Complaint Type", "Descriptor"]][df["Complaint Type"] == "Noise - Street/Sidewalk"]

In [30]:
new_slice.head()

             Complaint Type        Descriptor
0   Noise - Street/Sidewalk      Loud Talking
16  Noise - Street/Sidewalk  Loud Music/Party
25  Noise - Street/Sidewalk      Loud Talking
28  Noise - Street/Sidewalk      Loud Talking
31  Noise - Street/Sidewalk  Loud Music/Party

In [32]:
new_slice["Descriptor"].value_counts()

Loud Talking        986
Loud Music/Party    942
Name: Descriptor, dtype: int64